* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 64%;
    margin: auto;
}

$mainColor:#555555;
$secColor:#ff305b;
$thColor:#333333;

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;

}

.col-4 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 33%;
    float: left;
    padding: 15px;
}

.text-center {
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #555555;
}

.header {
    height: 100vh;
    background-image: url('../images/header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;

    &::after {
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

    }

    .container {
        position: relative;
        z-index: 9999;

        .navbar {
            padding: 20px 0;

            .logo {
                width: 25%;

                a {
                    color: $secColor;
                    text-decoration: none;
                    font-size: 24px;
                }

                float: left;
            }

            .menu {
                width: 75%;

                ul {
                    list-style-type: none;
                    float: right;

                    li {
                        margin: 0 10px;
                        text-transform: capitalize;

                        a {
                            padding: 10px 5px;
                            color: #fff;
                            text-decoration: none;
                            transition: all .4s;

                            &:hover,
                            &.active {
                                color: $secColor;
                            }
                        }

                        float: left;
                    }

                    &:after {
                        content: '';
                        clear: both;
                        display: block;
                    }
                }

                float: right;
            }
        }
    }

    .header-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;

        h3 {}

        h1 {
            color: $secColor;
            font-size: 70px;
            text-transform: uppercase;
            font-weight: bold;
        }

        h4 {
            font-size: 26px;
            text-transform: capitalize;
            font-weight: 300;
            font-family: 'Source Sans 3';


            .typewriter::before {
                content: "";
                animation: typing 10.5s infinite;
            }

            .typewriter::after {
                content: "";
                border-right: 1px solid #fff;
                animation: blink 0.5s linear infinite;
            }

            @keyframes typing {

                0.0000%,
                27.3488% {
                    content: "";
                }

                1.1395%,
                26.2093% {
                    content: "d";
                }

                2.2791%,
                25.0698% {
                    content: "de";
                }

                3.4186%,
                23.9302% {
                    content: "dev";
                }

                4.5581%,
                22.7907% {
                    content: "deve";
                }

                5.6977%,
                21.6512% {
                    content: "devel";
                }

                6.8372%,
                20.5116% {
                    content: "develo";
                }

                7.9767%,
                19.3721% {
                    content: "develop";
                }

                9.1163%,
                18.2326% {
                    content: "develope";
                }

                10.2558%,
                17.0930% {
                    content: "developer";
                }

                30.7674%,
                51.2791% {
                    content: "";
                }

                31.9070%,
                50.1395% {
                    content: "D";
                }

                33.0465%,
                49.0000% {
                    content: "De";
                }

                34.1860%,
                47.8605% {
                    content: "Des";
                }

                35.3256%,
                46.7209% {
                    content: "Desi";
                }

                36.4651%,
                45.5814% {
                    content: "Desig";
                }

                37.6047%,
                44.4419% {
                    content: "Design";
                }

                38.7442%,
                43.3023% {
                    content: "Designe";
                }

                39.8838%,
                42.1628% {
                    content: "Designer";
                }
            }

            @keyframes blink {

                0%,
                100% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }

    }
}

.about {
    padding: 100px 0 125px;

    .img,
    .info {
        width: 50%;
        float: left;
    }

    .img {
        width: 30%;

        .border {
            box-shadow: 0 0 0 8px #555 inset;
            border-radius: 5px;
            padding: 15px 0 0 15px;

            .profile {
                position: relative;
                transform: translate(10px, 10px);
                overflow: hidden;
                border-radius: 5px;

                .overlay {
                    background-color: rgba(0, 0, 0, 0.57);
                    position: absolute;
                    top: 600px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    // opacity: 0;
                    visibility: hidden;
                    transition: all .5s;

                    .icons {
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);

                        a {
                            font-size: 20px;
                            height: 20px;
                            width: 32px;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                &:hover {
                    .overlay {
                        visibility: visible;
                        // opacity: 1;
                        top: 0px;
                    }
                }
            }
        }
    }

    .info {
        padding-left: 70px;

        .title {
            h2 {
                border-left: $secColor 4px solid;
                font-size: 34px;
                text-transform: uppercase;
                margin-bottom: 25px;
                padding-left: 15px;
            }
        }

        .disc {
            p {
                border-bottom: 1px dashed #999999;
                margin-bottom: 25px;
                padding-bottom: 25px;
                line-height: 1.5;
            }
        }

        .info-list {
            ul {
                list-style-type: none;

                li {
                    float: left;
                    width: 45%;
                    margin: 10px 0;

                    span {
                        font-weight: 500;
                        color: #333;
                    }

                    a {
                        color: #555;
                        text-decoration: none;
                    }
                }

                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }
            }

        }

        .buttons {
            .cs {
                float: left;
                background-color: $secColor;
                text-decoration: none;
                color: #fff;
                margin-right: 10px;
                padding: 10px 24px;
                border-radius: 4px;
                transition: all .5s;

                &:hover {
                    background-color: #EC2403;
                }
            }
        }
    }
}

.services {
    background-color: #f1f1f1;
    padding: 100px 0 54px;

    .title {
        h2 {
            font-size: 40px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            position: relative;
            color: #333;
            text-transform: capitalize;

            &:after,
            &:before {
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
            }

            &:before {
                border-color: #ff305b;
                border-style: solid;
                border-width: 1px 0;
                bottom: 0;
                padding: 4px 0 5px;
                width: 70px;
            }

            &:after {
                background-color: #ff305b;
                bottom: 5px;
                height: 1px;
                width: 160px;
            }
        }
    }

    .content {
        .service {
            float: left;
            width: 25%;
            padding: 40px 15px;
            transition: all 0.5s;
            background-color: transparent;

            i {
                color: $secColor;
                font-size: 36px;
                margin-bottom: 20px;
                transition: all .3s;
                transform: scale(1);
            }

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
                color: #333;
            }

            p {
                line-height: 1.6;

            }

            &:hover {
                border-radius: 3px;
                box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
                background-color: #fff;

                i {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.portfolio {
    padding: 100px 0 70px;

    .title {
        h2 {
            font-size: 40px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            position: relative;
            color: #333;
            text-transform: capitalize;

            &:after,
            &:before {
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
            }

            &:before {
                border-color: #ff305b;
                border-style: solid;
                border-width: 1px 0;
                bottom: 0;
                padding: 4px 0 5px;
                width: 70px;
            }

            &:after {
                background-color: #ff305b;
                bottom: 5px;
                height: 1px;
                width: 160px;
            }
        }
    }

    .portfolio-menu {
        ul {
            list-style-type: none;
            text-align: center;

            li {
                transition: all .5s;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 1px;
                padding: 3px 12px;
                text-transform: uppercase;

                &.active,
                &:hover {
                    color: $secColor;
                }

                display: inline-block;
            }
        }

        margin: 30px 0;
    }

    .content {
        .img {
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: all .5s;

            .overlay {
                position: absolute;
                height: 100%;
                left: 0px;
                top: 0px;
                background-color: rgba(0, 0, 0, 0);
                width: 100%;
                transition: all .5s;
            }

            &:hover {
                .overlay {
                    background-color: rgba(0, 0, 0, 0.57);
                }
            }

            img {
                width: 100%;
            }
        }
    }
}

.numbers {
    background-color: #f1f1f1;
    padding: 100px 0;


    .content {
        .number {
            float: left;
            width: 25%;
            padding: 40px 15px;
            transition: all 0.5s;
            background-color: transparent;

            i {
                color: $secColor;
                font-size: 36px;
                margin-bottom: 20px;
                transition: all .3s;
                transform: scale(1);
            }

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
                color: #333;
            }

            p {
                line-height: 1.6;

            }
        }
    }
}

.feedback-sec .container,
.contact-sec .container {

    .title {
        h2 {
            font-size: 40px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            position: relative;
            color: #333;
            text-transform: capitalize;

            &:after,
            &:before {
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
            }

            &:before {
                border-color: #ff305b;
                border-style: solid;
                border-width: 1px 0;
                bottom: 0;
                padding: 4px 0 5px;
                width: 70px;
            }

            &:after {
                background-color: #ff305b;
                bottom: 5px;
                height: 1px;
                width: 160px;
            }
        }
    }

    padding: 100px;

    h2 {
        margin-bottom: 30px;
    }

    .card {
        width: 70%;
        text-align: left;
        background-color: #F1F1F1;
        padding: 35px 40px;
        border-radius: 5px;
        position: relative;
        margin: auto;
        overflow: hidden;

        &:after {
            border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            border-style: solid;
            border-width: 191px;
            content: "";
            height: 72px;
            left: -280px;
            position: absolute;
            top: 0;
            transform: translateX(0%);
            width: 90px;
            z-index: 1;
        }

        h3 {
            color: #333333;
            font-size: 26px;
            font-weight: 600;
        }

        .info {
            display: inline-block;
            width: 75%;
            padding-left: 25px;
            position: relative;
            z-index: 999;

            i {
                color: #777777;
                display: inline-block;
            }

            h5 {
                color: #777777;
                display: inline-block;
                font-size: 15px;
                font-weight: 600;
                padding: 10px 0px;
            }

            p {
                color: #555555;
                display: inline-block;
                line-height: 25px;
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                padding-bottom: 25px;
            }

            .rate i {
                color: #F1C30D;
            }
        }

        img {
            border-radius: 100%;
            display: inline-block;
            vertical-align: top;
            padding-top: 10px;
            transform: scale(0.8);
            z-index: 999;
            position: relative;
        }
    }
}


.our-blog{

    padding: 100px 0 70px;
    background-color: #f1f1f1;
    .title {
        h2 {
            font-size: 40px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            position: relative;
            color: #333;
            text-transform: capitalize;

            &:after,
            &:before {
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
            }

            &:before {
                border-color: #ff305b;
                border-style: solid;
                border-width: 1px 0;
                bottom: 0;
                padding: 4px 0 5px;
                width: 70px;
            }

            &:after {
                background-color: #ff305b;
                bottom: 5px;
                height: 1px;
                width: 160px;
            }
        }
    }
    .content{
        .blog{
            .blog-img{
                img,iframe{
                    width: 100%;
                    height: 200px;
                }
            }
            .info{
                padding: 20px;
                background-color: #fff;
                span{
                    display: block;
                    margin-bottom: 10px;
                }
                h3{
                    margin-bottom: 15px;
                    a{
                        color: #333;
                        text-decoration: none;
                        transition: all .5s;
                        &:hover{
                            color: $secColor;
                        }
                    }
                }
                p{
                    line-height: 1.6;
                    margin-bottom: 15px;
                }
                .readmore{
                        color: #333;
                        text-decoration: none;
                        transition: all .5s;
                        &:hover{
                            color: $secColor;
                        }
                }
            }
        }
    }
}


/* start of contact us section */
.form {
    max-width: 800px; 
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
  }
  .contact-sec {
    .title {
        h2 {
            font-size: 40px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            position: relative;
            color: #333;
            text-transform: capitalize;

            &:after,
            &:before {
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
            }

            &:before {
                border-color: #ff305b;
                border-style: solid;
                border-width: 1px 0;
                bottom: 0;
                padding: 4px 0 5px;
                width: 70px;
            }

            &:after {
                background-color: #ff305b;
                bottom: 5px;
                height: 1px;
                width: 160px;
            }
        }
    }
  }
  .name, .email {
    width: 48%; 
    float: left; 
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .email {
    margin-left: 4%;
  }
  .subject, .message {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .message {
    height: 120px;
    resize: both;
  }
  button {
    padding: 10px 10px;
    background-color: #FF305B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%; 
    font-size: 16px;
    clear: both;
  }
  /* end of contact us section */
  
  /* start of footer section */
  
  .footer-sec {
    background-color: #2f2f2f; 
    padding: 20px 0; 
    text-align: center; 
  }
  .footer-sec .container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 30px 0px;
  }
  .social-icons a {
    margin: 0 10px;
    color: #fff; 
    font-size: 20px; 
  }
  .copyright {
    margin-top: 15px;
    color: #fff; 
    font-size: 14px;
  }
  .footer-sec span {
    color: #f21c51; 
  }